<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-wea-edit" th:object="${wea}">
            <input id="wid" name="wid" th:field="*{wid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">分发平台ID：</label>
				<div class="col-sm-8">
					<input id="tid" name="tid" th:field="*{tid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预警编号：</label>
				<div class="col-sm-8">
					<input id="wnum" name="wnum" th:field="*{wnum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">接收用户：</label>
				<div class="col-sm-8">
					<input id="userid" name="userid" th:field="*{userid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发布单位：</label>
				<div class="col-sm-8">
					<input id="company" name="company" th:field="*{company}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">渠道发布平台ID：</label>
				<div class="col-sm-8">
					<input id="qid" name="qid" th:field="*{qid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">对接手段：</label>
				<div class="col-sm-8">
					<input id="means" name="means" th:field="*{means}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">预警状态：</label>
				<div class="col-sm-8">
					<input id="wstate" name="wstate" th:field="*{wstate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">信息：</label>
				<div class="col-sm-8">
					<input id="mes" name="mes" th:field="*{mes}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createtime" name="createtime" th:field="*{createtime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否已读：</label>
				<div class="col-sm-8">
					<input id="isread" name="isread" th:field="*{isread}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "broad/wea"
		$("#form-wea-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-wea-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
