<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-houseInfo-edit" th:object="${houseInfo}">
            <input id="hid" name="hid" th:field="*{hid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">地域编号：</label>
				<div class="col-sm-8">
					<input id="aid" name="aid" th:field="*{aid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">户主姓名：</label>
				<div class="col-sm-8">
					<input id="vname" name="vname" th:field="*{vname}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">房屋照片地址：</label>
				<div class="col-sm-8">
					<input id="housepic" name="housepic" th:field="*{housepic}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">房屋面积：</label>
				<div class="col-sm-8">
					<input id="area" name="area" th:field="*{area}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">建房证照片地址：</label>
				<div class="col-sm-8">
					<input id="certificate" name="certificate" th:field="*{certificate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">房屋地址：</label>
				<div class="col-sm-8">
					<input id="address" name="address" th:field="*{address}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">信用社银行卡号：</label>
				<div class="col-sm-8">
					<input id="bankcard" name="bankcard" th:field="*{bankcard}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">电力供电接入：</label>
				<div class="col-sm-8">
					<input id="psa" name="psa" th:field="*{psa}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">有线电视接入：</label>
				<div class="col-sm-8">
					<input id="ca" name="ca" th:field="*{ca}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">宽带网络接入：</label>
				<div class="col-sm-8">
					<input id="woban" name="woban" th:field="*{woban}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">自来水供应接入：</label>
				<div class="col-sm-8">
					<input id="water" name="water" th:field="*{water}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">安防系统接入：</label>
				<div class="col-sm-8">
					<input id="ssa" name="ssa" th:field="*{ssa}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">垃圾分类及处理：</label>
				<div class="col-sm-8">
					<input id="wdr" name="wdr" th:field="*{wdr}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">煤气燃料供应：</label>
				<div class="col-sm-8">
					<input id="gfs" name="gfs" th:field="*{gfs}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">征收情况：</label>
				<div class="col-sm-8">
					<input id="levy" name="levy" th:field="*{levy}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "village/houseInfo"
		$("#form-houseInfo-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-houseInfo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
