<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								文章标题：<input type="text" name="title"/>
							</li>

							<li>
								文章类型：<input type="text" name="type"/>
							</li>

							<li>
								添加日期：<input type="text" name="adddate"/>
							</li>

							<li>
								添加人姓名：<input type="text" name="adduname"/>
							</li>

							<li>
								发送人姓名：<input type="text" name="uname"/>
							</li>

							<li>
								是否有效：<input type="text" name="remark"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="village:VillageFamily:add">
					<i class="fa fa-plus"></i> 添加
				</a>

				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="village:VillageFamily:remove">
					<i class="fa fa-remove"></i> 删除
				</a>

			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('village:VillageFamily:edit')}]];
        var removeFlag = [[${@permission.hasPermi('village:VillageFamily:remove')}]];
        var prefix = ctx + "village/VillageFamily";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
				exportUrl: prefix + "/export",
                modalName: "小村家事",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'jsid',
					title : '小村家事数据编号',
					visible: false
				},
				{
				    field:'type',
					title:'类型',
					visible:true
				},
				{
					field : 'title',
					title : '标题',
					sortable: true
				},
				{
				    field:'num',
					title:'评论数',
					sortable:true
				},
				{
					field : 'adddate',
					title : '添加日期',
					sortable: true
				},
				{
				    field:'reldate',
					title:'修改日期',
					visible:false
				},
				{
				    field:'adduname',
					title:'添加人姓名',
					visible:true
				},
				{
					field:'uname',
					title:'发送人姓名',
					visible:false
				},
				{
					field : 'remark', 
					title : '是否有效',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.jsid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.jsid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>