<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								党员小组：<input type="text" name="grouptype"/>
							</li>

							<li>
								党员姓名：<input type="text" name="uname"/>
							</li>

							<li>
								性别：<input type="text" name="sex"/>
							</li>

							<li>
								民族：<input type="text" name="nations"/>
							</li>

							<li>
								身份证号码：<input type="text" name="idcard"/>
							</li>

							<li>
								学历：<input type="text" name="edulevel"/>
							</li>

							<li>
								出生年月：<input type="text" name="birthday"/>
							</li>

							<li>
								入党时间：<input type="text" name="partyjoindate"/>
							</li>

							<li>
								手机号：<input type="text" name="phone"/>
							</li>

							<li>
								家庭住址：<input type="text" name="address"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="village:partymember:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="village:partymember:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="village:partymember:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="village:partymember:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('village:partymember:edit')}]];
        var removeFlag = [[${@permission.hasPermi('village:partymember:remove')}]];
        var prefix = ctx + "village/partymember";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "暮云党员",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'pid', 
					title : '数据编号',
					visible: false
				},
				{
					field : 'grouptype', 
					title : '党员小组',
					sortable: true
				},
				{
					field : 'uname', 
					title : '党员姓名',
					sortable: true
				},
				{
					field : 'sex', 
					title : '性别',
					sortable: true
				},
				{
					field : 'nations', 
					title : '民族',
					sortable: true
				},
				{
					field : 'idcard', 
					title : '身份证号码',
					sortable: true
				},
				{
					field : 'edulevel', 
					title : '学历',
					sortable: true
				},
				{
					field : 'birthday', 
					title : '出生年月',
					sortable: true
				},
				{
					field : 'partyjoindate', 
					title : '入党时间',
					sortable: true
				},
				{
					field : 'phone', 
					title : '手机号',
					sortable: true
				},
				{
					field : 'address', 
					title : '家庭住址',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>