<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								地域编号：<input type="text" name="aid"/>
							</li>

							<li>
								村民姓名：<input type="text" name="name"/>
							</li>

							<li>
								个人照片编号：<input type="text" name="personpic"/>
							</li>

							<li>
								身份证号码：<input type="text" name="idcard"/>
							</li>

							<li>
								身份证照片地址：<input type="text" name="idcardpic"/>
							</li>

							<li>
								车牌号：<input type="text" name="carnum"/>
							</li>

							<li>
								车辆照片地址：<input type="text" name="carpic"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="village:personalDetail:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="village:personalDetail:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="village:personalDetail:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="village:personalDetail:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('village:personalDetail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('village:personalDetail:remove')}]];
        var prefix = ctx + "village/personalDetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "个人详细",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'pdid', 
					title : '',
					visible: false
				},
				{
					field : 'aid', 
					title : '地域编号',
					sortable: true
				},
				{
					field : 'name', 
					title : '村民姓名',
					sortable: true
				},
				{
					field : 'personpic', 
					title : '个人照片编号',
					sortable: true
				},
				{
					field : 'idcard', 
					title : '身份证号码',
					sortable: true
				},
				{
					field : 'idcardpic', 
					title : '身份证照片地址',
					sortable: true
				},
				{
					field : 'carnum', 
					title : '车牌号',
					sortable: true
				},
				{
					field : 'carpic', 
					title : '车辆照片地址',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.pdid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.pdid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>