<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								文件名称：<input type="text" name="filename"/>
							</li>

							<li>
								上传时间：<input type="text" name="uploaddate"/>
							</li>

							<!--<li>
								上传人：<input type="text" name="uname"/>
							</li>-->

							<li>
								是否有效：<input type="text" name="remark"/>
							</li>

							<li>
								文件类型：<input type="text" name="type"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="village:filemanager:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="village:filemanager:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="village:filemanager:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="village:filemanager:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('village:filemanager:edit')}]];
        var removeFlag = [[${@permission.hasPermi('village:filemanager:remove')}]];
        var prefix = ctx + "village/filemanager";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "文件管理",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'fileid', 
					title : '文件编号',
					visible: false
				},
				{
					field : 'fsname',
					title : '文件名称',
					sortable: true
				},
				{
					field : 'uploaddate', 
					title : '上传时间',
					sortable: true
				},
				{
					field : 'uname', 
					title : '上传人',
					sortable: true
				},
				{
					field : 'url', 
					title : '文件路径',
					sortable: true
				},
				{
					field : 'filesize', 
					title : '文件大小',
					sortable: true
				},
				{
					field : 'downloadnum', 
					title : '下载次数',
					sortable: true
				},
				{
					field : 'zan', 
					title : '点赞次数',
					sortable: true
				},
				{
					field : 'remark', 
					title : '是否有效',
					sortable: true
				},
				{
					field : 'type', 
					title : '文件类型',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>