<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header">
	<!--<meta charset="utf-8">-->
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<!--<link rel="shortcut icon" href="favicon.ico"> <link href="../static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">-->
	<!--<link href="../static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">-->
	<!--<link href="../static/css/animate.min.css" rel="stylesheet">-->
	<!--<link rel="stylesheet" type="text/css" href="../static/css/plugins/simditor/simditor.css" />-->
	<!--<link href="../static/css/style.min862f.css?v=4.1.0" rel="stylesheet">-->
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-proreApply-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">用户ID：</label>
				<div class="col-sm-8">
					<input id="userid" name="userid" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">节目名称：</label>
				<div class="col-sm-8">
					<input id="pname" name="pname" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">录制要求：</label>
				<div class="col-sm-8">
					<input id="requires" name="requires" class="form-control" type="text">
				</div>
			</div>
			<!--<div class="form-group">-->
				<!--<label class="col-sm-3 control-label">是否紧急：</label>-->
				<!--<div class="col-sm-8">-->
					<!--&lt;!&ndash;<input id="isemergency" name="isemergency" class="form-control" type="text">&ndash;&gt;-->
					<!--<div class="radio">-->
						<!--<label>-->
							<!--<input id="isemergency" name="isemergency" th:value="true" class="form-control" type="radio">-->
							<!--紧急-->
						<!--</label>-->
					<!--</div>-->
					<!--<div class="radio">-->
						<!--<label>-->
							<!--<input id="isemergency" name="isemergency" th:value="false" class="form-control" type="radio">-->
							<!--不紧急-->
						<!--</label>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<div class="form-group">	
				<label class="col-sm-3 control-label">时间限制要求：</label>
				<div class="col-sm-8">
					<input id="timelimit" name="timelimit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">要求文稿名：</label>
				<div class="col-sm-8">
					<input id="filename" name="filename" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">提交时间：</label>
				<div class="col-sm-8">
					<input id="submittime" name="submittime" class="form-control" type="text">
				</div>
			</div>

		</form>
	</div>
    <div th:include="include::footer"></div>
<!--<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>-->
	<!--<script src="../static/js/jquery.min.js?v=2.1.4"></script>-->
	<!--<script src="../static/js/bootstrap.min.js?v=3.3.6"></script>-->
	<!--<script src="../static/js/content.min.js?v=1.0.0"></script>-->
	<!--<script type="text/javascript" src="../static/js/plugins/simditor/module.js"></script>-->
	<!--<script type="text/javascript" src="../static/js/plugins/simditor/uploader.js"></script>-->
	<!--<script type="text/javascript" src="../static/js/plugins/simditor/hotkeys.js"></script>-->
	<!--<script type="text/javascript" src="../static/js/plugins/simditor/simditor.js"></script>-->
<script type="text/javascript">
	var prefix = ctx + "broad/proreApply"
	$("#form-proreApply-add").validate({
		rules:{
			xxxx:{
				required:true,
			},
		}
	});

	function submitHandler() {
        var userid = $("#userid").val();
        var pname = $("#pname").val();
        var requires = $("#requires").val();
        var timelimit = $("#timelimit").val();
        var userid = $("#userid").val();
        var submittime = $("#submittime").val();

        var info = {
            "userid": userid,
            "pname": pname,
            "requires": requires,
            "timelimit": timelimit,
			"userid":userid,
			"submittime": submittime,
        }

		if ($.validate.form()) {
			$.operate.save(prefix + "/add",info);
		}
	}
</script>

<script th:inline="javascript">
	$(function () {
		$('body').layout({west__size: 185});
//		queryAreaTree();
		submitHandler();

	});
</script>

</body>
</html>
