<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								节目名称：<input type="text" name="pname"/>
							</li>
							<li>
								是否紧急：<input type="text" name="isemergency"/>
							</li>
							<li>
								申请提交时间：<input type="text" name="submittime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="broad:proreApply:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="broad:proreApply:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('broad:proreApply:edit')}]];
        var removeFlag = [[${@permission.hasPermi('broad:proreApply:remove')}]];
        var prefix = ctx + "broad/proreApply";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "节目申请",
				search: false,
		        showExport: true,
                columns: [
				{
					field : 'paid', 
					title : '节目ID',
					visible: true
				},
				{
					field : 'pname', 
					title : '节目名称',
					sortable: true
				},
				{
					field : 'uname',
					title : '申请用户',
					sortable: true
				},
				{
					field : 'submittime', 
					title : '申请时间',
					sortable: true
				},
				{
					field : 'isemergency',
					title : '是否紧急',
					sortable: true
				},
				{
					field : 'timelimit',
					title : '时间要求',
					sortable: true
				},
				{
					field : 'iscancel', 
					title : '是否撤回',
					sortable: true
				},
				{
					field : 'isreply', 
					title : '是否回复',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.paid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>