<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								职位类型：<input type="text" name="jtype"/>
							</li>

							<li>
								招聘公司：<input type="text" name="company"/>
							</li>

							<li>
								职位：<input type="text" name="position"/>
							</li>

							<li>
								招聘开始时间：<input type="text" name="bedate"/>
							</li>

							<li>
								发布人用户名：<input type="text" name="uname"/>
							</li>

							<li>
								是否有效：<input type="text" name="remark"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="village:recruitment:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="village:recruitment:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="village:recruitment:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="village:recruitment:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('village:recruitment:edit')}]];
        var removeFlag = [[${@permission.hasPermi('village:recruitment:remove')}]];
        var prefix = ctx + "village/recruitment";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "短信接收记录",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'jid',
					title : '招聘信息编号',
					visible: false
				},
				{
				    field:'jtype',
					title:'职位类型',
					visible:true
				},
				{
					field : 'company',
					title : '招聘公司',
					sortable: true
				},
				{
					field : 'picurl',
					title : '公司图片路径',
					sortable: true
				},
				{
				    field:'position',
					title:'职位',
					visible:true
				},
				{
				    field:'phone',
					title:'联系方式',
					visible:true
				},
				{
					field:'email',
					title:'电子邮箱',
					visible:false
				},
				{
				    field:'date',
					title:'招聘发布日期',
					visible:true
				},
				{
				    field:'num',
					title:'招聘人数',
					visible:true
				},
				{
					field : 'remark', 
					title : '是否有效',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.rmid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.rmid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>