<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
</head>
<body >
    <textarea id="demo" style="display: none;"></textarea>

<script th:src="@{/layui/layui.js}"></script>
    <script>
        layui.use('layedit', function(){
            var layedit = layui.layedit;
            layedit.build('demo', {
                height: 180 //设置编辑器高度
            }); //建立编辑器
        });
    </script>
</body>
</html>