<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.village.mapper.ComplaintsmessagesMapper">
	<resultMap type="Complaintsmessages" id="ComplaintsmessagesResult">
		<id column="fbid" property="fbid"/>
		<result column="fbuid" property="fbuid"/>
		<result column="title" property="title"/>
		<result column="ftype" property="ftype"/>
		<result column="content" property="content"/>
		<result column="fbdatetime" property="fbdatetime"/>
		<result column="isread" property="isread"/>
		<result column="opinion" property="opinion"/>
		<result column="uid" property="uid"/>
		<result column="uname" property="uname"/>
		<result column="datetime" property="datetime"/>
		<result column="aid" property="aid"/>
		<result column="remark" property="remark"/>
	</resultMap>
	<!-- 字段值 -->
	<!--还有一个 aid 字段-->
	<sql id="Field">
		 fbid, fbuid, title, ftype, content, fbdatetime, isread, opinion, uid, uname, datetime, remark
	</sql>

	<!--还有一个 #aid 字段-->
	<sql id="FieldValue">
		#{fbid}, #{fbuid}, #{title}, #{ftype}, #{content}, #{fbdatetime}, #{isread}, #{opinion}, #{uid}, #{uname}, #{datetime}, #{remark}
	</sql>
	
	<!--表名 -->
	<sql id="tableName">
		tb_feedback
	</sql>

	<!--获取所有投诉咨询 -->
	<select id="selectComplaintsList" parameterType="com.ruoyi.village.domain.Complaintsmessages" resultMap="ComplaintsmessagesResult">
		select <include refid="Field"/>
		from <include refid="tableName"/>
		<where>
			<if test="fbuid != null and fbuid != ''"> and fbuid like '%${fbuid}%'</if>
			<if test="title != null and title != ''"> and title like '%${title}%'</if>
			<if test="ftype != null  and ftype != ''"> and ftype like '%${ftype}%'</if>
			<if test="content != null  and content != ''"> and content like '%${content}%'</if>
			<if test="fbdatetime != null and fbdatetime != ''"> and fbdatetime like '%${fbdatetime}%'</if>
			<if test="opinion != null  and opinion != ''"> and opinion like '%${opinion}%'</if>
			<if test="uname != null  and uname != '' "> and uname like '%${uname}%'</if>
			<if test="datetime != null  and datetime != ''"> and datetime like '%${datetime}%'</if>
			<if test="remark != null  and remark != ''"> and remark like '%${remark}%'</if>
		</where>
		ORDER BY fbid desc
	</select>
	<insert id="insertcomplaintsmessages" parameterType="com.ruoyi.village.domain.Complaintsmessages">
		insert into <include refid="tableName"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="fbuid != null  and fbuid != ''  ">fbuid,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="ftype != null  and ftype != ''  ">ftype,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="fbdatetime != null  and fbdatetime != ''  ">fbdatetime,</if>
			<if test="isread != null  and isread != ''  ">isread,</if>
			<if test="opinion != null  and opinion != ''  ">opinion,</if>
			<if test="uid != null  and uid != ''  ">uid,</if>
			<if test="uname != null  and uname != ''  ">uname,</if>
			<if test="datetime != null  and datetime != ''  ">datetime,</if>
			<if test="aid != null  and aid != ''  ">aid,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="fbuid != null  and fbuid != ''  ">#{fbuid},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="ftype != null  and ftype != '' ">#{ftype},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="fbdatetime != null  and fbdatetime != ''  ">#{fbdatetime},</if>
			<if test="isread != null  and isread != ''  ">#{isread},</if>
			<if test="opinion != null  and opinion != ''  ">#{opinion},</if>
			<if test="uid != null  and uid != ''  ">#{uid},</if>
			<if test="uname != null  and uname != ''  ">#{uname},</if>
			<if test="datetime != null  and datetime != ''  ">#{datetime},</if>
			<if test="aid != null  and aid != ''  ">#{aid},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
		</trim>
	</insert>

	<!--批量删除-->
	<delete id="deleteComplaintsByids" parameterType="String">
		delete from <include refid="tableName"/> where fbid in
		<foreach item="fbid" collection="array" open="(" separator="," close=")">
			#{fbid}
		</foreach>
	</delete>

	<select id="selectByfbid" resultMap="ComplaintsmessagesResult" parameterType="Integer">
		select <include refid="Field"/>
		from <include refid="tableName"/>
		where fbid = #{fbid}
	</select>

	<update id="updateComplaintsmessages" parameterType="com.ruoyi.village.domain.Complaintsmessages">
		update <include refid="tableName"/>
		<trim prefix="SET" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title = #{title},</if>
			<if test="ftype != null  and ftype != ''  ">ftype = #{ftype},</if>
			<if test="content != null  and content != ''  ">content = #{content},</if>
			<if test="isread != null  and isread != ''  ">isread = #{isread},</if>
			<if test="opinion != null  and opinion != ''  ">opinion = #{opinion},</if>
			<if test="uid != null  and uid != ''  ">uid = #{uid},</if>
			<if test="uname != null  and uname != ''  ">uname = #{uname},</if>
			<if test="datetime != null  and datetime != ''  ">datetime = #{datetime},</if>
			<if test="remark != null  and remark != ''  ">remark = #{remark},</if>
		</trim>
		where fbid = #{fbid}
	</update>
	</mapper>