<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.village.mapper.PlowlandInfoMapper">
    
    <resultMap type="PlowlandInfo" id="PlowlandInfoResult">
        <result property="pid"    column="pid"    />
        <result property="aid"    column="aid"    />
        <result property="grouptype"    column="grouptype"    />
        <result property="collective"    column="collective"    />
        <result property="contracted"    column="contracted"    />
    </resultMap>
	
	<sql id="selectPlowlandInfoVo">
        select pid, aid, grouptype, collective, contracted from plowland_info
    </sql>
	
    <select id="selectPlowlandInfoList" parameterType="PlowlandInfo" resultMap="PlowlandInfoResult">
        <include refid="selectPlowlandInfoVo"/>
        <where>  
            <if test="pid != null "> and pid = #{pid}</if>
             <if test="aid != null  and aid != '' "> and aid = #{aid}</if>
             <if test="grouptype != null  and grouptype != '' "> and grouptype = #{grouptype}</if>
             <if test="collective != null  and collective != '' "> and collective = #{collective}</if>
             <if test="contracted != null  and contracted != '' "> and contracted = #{contracted}</if>
         </where>
    </select>
    
    <select id="selectPlowlandInfoById" parameterType="Integer" resultMap="PlowlandInfoResult">
        <include refid="selectPlowlandInfoVo"/>
        where pid = #{pid}
    </select>
        
    <insert id="insertPlowlandInfo" parameterType="PlowlandInfo">
        insert into plowland_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null  ">pid,</if>
			<if test="aid != null  and aid != ''  ">aid,</if>
			<if test="grouptype != null  and grouptype != ''  ">grouptype,</if>
			<if test="collective != null  and collective != ''  ">collective,</if>
			<if test="contracted != null  and contracted != ''  ">contracted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null  ">#{pid},</if>
			<if test="aid != null  and aid != ''  ">#{aid},</if>
			<if test="grouptype != null  and grouptype != ''  ">#{grouptype},</if>
			<if test="collective != null  and collective != ''  ">#{collective},</if>
			<if test="contracted != null  and contracted != ''  ">#{contracted},</if>
         </trim>
    </insert>
	 
    <update id="updatePlowlandInfo" parameterType="PlowlandInfo">
        update plowland_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="aid != null  and aid != ''  ">aid = #{aid},</if>
            <if test="grouptype != null  and grouptype != ''  ">grouptype = #{grouptype},</if>
            <if test="collective != null  and collective != ''  ">collective = #{collective},</if>
            <if test="contracted != null  and contracted != ''  ">contracted = #{contracted},</if>
        </trim>
        where pid = #{pid}
    </update>

	<delete id="deletePlowlandInfoById" parameterType="Integer">
        delete from plowland_info where pid = #{pid}
    </delete>
	
    <delete id="deletePlowlandInfoByIds" parameterType="String">
        delete from plowland_info where pid in 
        <foreach item="pid" collection="array" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </delete>
    
</mapper>