<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.village.mapper.VillageFamilyMapper">
	<resultMap type="VillageFamily" id="VillageFamilyResultMap">
		<id column="jsid" property="jsid"/>
		<result column="title" property="title"/>
		<result column="type" property="type"/>
		<result column="adddate" property="adddate"/>
		<result column="reldate" property="reldate"/>
		<result column="content" property="content"/>
		<result column="adduid" property="adduid"/>
		<result column="adduname" property="adduname"/>
		<result column="uid" property="uid"/>
		<result column="uname" property="uname"/>
		<result column="aid" property="aid"/>
		<result column="remark" property="remark"/>
	</resultMap>
	<!-- 字段值 -->
	<sql id="Field">
		jsid, title, type, adddate, reldate, content, adduid, adduname, uid, uname, aid, remark
	</sql>

	<sql id="FieldValue">
		#{jsid}, #{title}, #{type}, #{adddate}, #{reldate}, #{content}, #{adduid}, #{adduname}, #{uid}, #{uname}, #{aid}, #{remark}
	</sql>

	<!--表名 -->
	<sql id="tableName">
		tb_xiaocun
	</sql>

	<!--获取所有投诉咨询 -->
	<select id="selectComplaintsList" parameterType="com.ruoyi.village.domain.VillageFamily" resultMap="VillageFamilyResultMap">
		select <include refid="Field"/>
		from <include refid="tableName"/>
		<where>
			<if test="jsid != null "> and jsid = #{jsid}</if>
			<if test="title != null  and title != '' "> and title = #{title}</if>
			<if test="type != null  and type != '' "> and type = #{type}</if>
			<if test="adddate != null  and adddate != ''  "> and adddate = #{adddate}</if>
			<if test="reldate != null  and reldate != '' "> and reldate = #{reldate}</if>
			<if test="content != null  and content != '' "> and content = #{content}</if>
			<if test="adduid != null  and adduid != '' "> and adduid = #{adduid}</if>
			<if test="adduname != null  and adduname != '' "> and adduname = #{adduname}</if>
			<if test="uid != null "> and uid = #{uid}</if>
			<if test="uname != null  and uname != '' "> and uname = #{uname}</if>
			<if test="aid != null"> and aid = #{aid}</if>
			<if test="remark != null  and remark != '' "> and remark = #{remark}</if>
		</where>
		ORDER BY fbdatetime desc
	</select>
	<!--根据fbid 批量删除数据-->
	<!--<delete id="deleteComplaintsByid" parameterType="Integer">-->
		<!--delete from-->
		 <!--<include refid="tableName"/>-->
		<!--where fbid = #{id}-->
	<!--</delete>-->
	<delete id="deleteComplaintsByids" parameterType="String">
		delete from <include refid="tableName"/> where jsid in
		<foreach item="jsid" collection="array" open="(" separator="," close=")">
			#{jsid}
		</foreach>
	</delete>


	</mapper>