<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.village.mapper.VillagefamilyMapper">
	<resultMap type="VillageFamily" id="VillageFamilyResultMap">
		<id column="jsid" property="jsid"/>
		<result column="title" property="title"/>
		<result column="type" property="type"/>
		<result column="adddate" property="adddate"/>
		<result column="reldate" property="reldate"/>
		<result column="content" property="content"/>
		<result column="adduid" property="adduid"/>
		<result column="adduname" property="adduname"/>
		<result column="uid" property="uid"/>
		<result column="uname" property="uname"/>
		<result column="aid" property="aid"/>
		<result column="remark" property="remark"/>
	</resultMap>
	<!-- 字段值 -->
	<sql id="Field">
		jsid, title, type, adddate, reldate, content, adduid, adduname, uid, uname, aid, remark
	</sql>

	<sql id="FieldValue">
		#{title}, #{type}, #{adddate}, #{reldate}, #{content}, #{adduid}, #{adduname}, #{uid}, #{uname}, #{aid}, #{remark}
	</sql>

	<!--表名 -->
	<sql id="tableName">
		tb_xiaocun
	</sql>
	<!--获取所有投诉咨询 -->
	<select id="selectVillageFamilyList" parameterType="com.ruoyi.village.domain.Villagefamily" resultMap="VillageFamilyResultMap">
		select <include refid="Field"/>
		from <include refid="tableName"/>
		<where>
			<if test="title != null and title != ''"> and title like '${title}'</if>
			<if test="type != null  and type != ''"> and type like '${type}'</if>
			<if test="adddate != null  and adddate != ''"> and adddate like '${adddate}'</if>
			<if test="reldate != null and reldate != ''"> and reldate like '${reldate}'</if>
			<if test="content != null  and content != ''"> and content like '${content}'</if>
			<if test="adduid != null  and adduid != '' "> and adduid like '${adduid}'</if>
			<if test="adduname != null  and adduname != ''"> and adduname like '${adduname}'</if>
			<if test="uid != null  and uid != ''"> and uid like '${uid}'</if>
			<if test="uname != null  and uname != '' "> and uname like '${uname}'</if>
			<if test="aid != null  and aid != ''"> and aid like '${aid}'</if>
			<if test="remark != null  and remark != ''"> and remark like '${remark}'</if>
		</where>
		ORDER BY jsid desc
	</select>
	<!--根据jsid获取数据-->
	<select id="selectByfbid" parameterType="Integer" resultMap="VillageFamilyResultMap">
		select <include refid="Field"/>
		from <include refid="tableName"/>
		where jsid = #{jsid}
	</select>
	<!--修改数据-->
	<update id="updateVillageFamily" parameterType="com.ruoyi.village.domain.Villagefamily">
		update <include refid="tableName"/>
		<trim prefix="SET" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title = #{title},</if>
			<if test="type != null  and type != ''  ">type = #{type},</if>
			<if test="content != null  and content != ''  ">content = #{content},</if>
			<if test="reldate != null  and reldate != ''  ">reldate = #{reldate},</if>
			<if test="adduid != null  and adduid != ''  ">adduid = #{adduid},</if>
			<if test="adduname != null  and adduname != ''  ">adduname = #{adduname},</if>
			<if test="uid != null  and uid != ''  ">uid = #{uid},</if>
			<if test="uname != null  and uname != ''  ">uname = #{uname},</if>
			<if test="aid != null  and aid != ''  ">aid = #{aid},</if>
			<if test="remark != null  and remark != ''  ">remark = #{remark},</if>
		</trim>
		where jsid = #{jsid}
	</update>
	<!--插入数据-->
	<insert id="insertVillageFamily" parameterType="com.ruoyi.village.domain.Villagefamily">
		insert into <include refid="tableName"/>
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title,</if>
			<if test="type != null  and type != ''  ">type,</if>
			<if test="adddate != null  and adddate != ''  ">adddate,</if>
			<if test="reldate != null  and reldate != ''  ">reldate,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="adduid != null  and adduid != ''  ">adduid,</if>
			<if test="adduname != null  and adduname != ''  ">adduname,</if>
			<if test="uid != null  and uid != ''  ">uid,</if>
			<if test="uname != null  and uname != ''  ">uname,</if>
			<if test="aid != null  and aid != ''  ">aid,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="type != null  and type != '' ">#{type},</if>
			<if test="adddate != null  and adddate != ''  ">#{adddate},</if>
			<if test="reldate != null  and reldate != ''  ">#{reldate},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="adduid != null  and adduid != ''  ">#{adduid},</if>
			<if test="adduname != null  and adduname != ''  ">#{adduname},</if>
			<if test="uid != null  and uid != ''  ">#{uid},</if>
			<if test="uname != null  and uname != ''  ">#{uname},</if>
			<if test="aid != null  and aid != ''  ">#{aid},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
		</trim>
	</insert>

	<!--根据fbid 批量删除数据-->
	<delete id="deleteVillageFamilyByids" parameterType="String">
		delete from <include refid="tableName"/> where jsid in
		<foreach item="jsid" collection="array" open="(" separator="," close=")">
			#{jsid}
		</foreach>
	</delete>


	</mapper>