<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-proList-edit" th:object="${proList}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">操作记录：</label>
				<div class="col-sm-8">
					<input id="ptp" name="ptp" th:field="*{ptp}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">节目文件：</label>
				<div class="col-sm-8">
					<input id="fN" name="fN" th:field="*{fN}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">文件编号：</label>
				<div class="col-sm-8">
					<input id="fid" name="fid" th:field="*{fid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">播放时间：</label>
				<div class="col-sm-8">
					<input id="bt" name="bt" th:field="*{bt}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">播放时长，只有电台转播有：</label>
				<div class="col-sm-8">
					<input id="broadtime" name="broadtime" th:field="*{broadtime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "broad/proList"
		$("#form-proList-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-proList-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
