<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								广播用户姓名：<input type="text" name="uname"/>
							</li>

							<li>
								广播用户身份等级：<input type="text" name="userlevel"/>
							</li>

							<li>
								广播用户手机号码：<input type="text" name="uphone"/>
							</li>

							<li>
								广播用户地址：<input type="text" name="uaddress"/>
							</li>

							<li>
								账号状态：<input type="text" name="isuse"/>
							</li>

							<li>
								用户最后登录时间：<input type="text" name="lastdate"/>
							</li>

							<li>
								管理区域：<input type="text" name="aname"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="broad:broaduser:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="broad:broaduser:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="broad:broaduser:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
		var prefix = ctx + "broad/broaduser";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "广播用户",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'userid', 
					title : '广播用户编号',
					visible: false
				},
				{
					field : 'uname', 
					title : '广播用户姓名',
					sortable: true
				},
				{
					field : 'userlevel', 
					title : '广播用户身份等级',
					sortable: true
				},
				{
					field : 'uphone', 
					title : '广播用户手机号码',
					sortable: true
				},
				{
					field : 'uaddress', 
					title : '广播用户地址',
					sortable: true
				},
				{
					field : 'isuse', 
					title : '账号状态',
					sortable: true
				},
				{
					field : 'lastdate', 
					title : '用户最后登录时间',
					sortable: true
				},
				{
					field : 'aname', 
					title : '管理区域',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>