<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
<!--TODO 后续改为Ajax局部刷新，参考暮云圈-->
    <div class="row" >
        <div class="col-sm-2" th:each="obj : ${typeNum}">
            <div class="widget style1 blue-bg">
                <div class="row vertical-align">
                    <div class="col-xs-9 text-right">
                        <span th:text="${obj.textnum}">***</span>
                        <h3 id="count_dev" class="font-bold" th:text="${obj.telnumber}">***</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
