<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-assetAssessment-edit" th:object="${assetAssessment}">
            <input id="aaid" name="aaid" th:field="*{aaid}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">地域编号：</label>
				<div class="col-sm-8">
					<input id="aid" name="aid" th:field="*{aid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">村组名称：</label>
				<div class="col-sm-8">
					<input id="grouptype" name="grouptype" th:field="*{grouptype}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">建设用地：</label>
				<div class="col-sm-8">
					<input id="constructionland" name="constructionland" th:field="*{constructionland}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工矿仓储用地：</label>
				<div class="col-sm-8">
					<input id="imsland" name="imsland" th:field="*{imsland}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商服用地：</label>
				<div class="col-sm-8">
					<input id="businessland" name="businessland" th:field="*{businessland}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">农村宅基地：</label>
				<div class="col-sm-8">
					<input id="homestead" name="homestead" th:field="*{homestead}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公共服务用地：</label>
				<div class="col-sm-8">
					<input id="publicland" name="publicland" th:field="*{publicland}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交通水利用地：</label>
				<div class="col-sm-8">
					<input id="twland" name="twland" th:field="*{twland}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">其他建设用地：</label>
				<div class="col-sm-8">
					<input id="otherland" name="otherland" th:field="*{otherland}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "village/assetAssessment"
		$("#form-assetAssessment-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-assetAssessment-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
