<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								被评价党员姓名：<input type="text" name="pname"/>
							</li>

							<li>
								性别：<input type="text" name="sex"/>
							</li>

							<li>
								出生年月：<input type="text" name="birthday"/>
							</li>

							<li>
								入党时间：<input type="text" name="partyjoindate"/>
							</li>

							<li>
								优秀：<input type="text" name="excellent"/>
							</li>

							<li>
								合格：<input type="text" name="fine"/>
							</li>

							<li>
								基本合格：<input type="text" name="qualified"/>
							</li>

							<li>
								不合格：<input type="text" name="unqualified"/>
							</li>

							<li>
								评分备注：<input type="text" name="note"/>
							</li>

							<li>
								评分日期：<input type="text" name="adddate"/>
							</li>

							<li>
								党员评分期数：<input type="text" name="no"/>
							</li>

							<!--<li>
								评价人姓名：<input type="text" name="uname"/>
							</li>-->

							<li>
								是否有效：<input type="text" name="remark"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="village:partyscore:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="village:partyscore:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="village:partyscore:remove">
					<i class="fa fa-remove"></i> 删除
				</a>-->
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="village:partyscore:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('village:partyscore:edit')}]];
        var removeFlag = [[${@permission.hasPermi('village:partyscore:remove')}]];
        var prefix = ctx + "village/partyscore";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "党员自评",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'sfid',
					title : '评分数据编号',
					visible: false
				},
				{
					field : 'pname', 
					title : '被评价党员姓名',
					sortable: true
				},
				{
					field : 'sex', 
					title : '性别',
					sortable: true
				},
				{
					field : 'birthday', 
					title : '出生年月',
					sortable: true
				},
				{
					field : 'partyjoindate', 
					title : '入党时间',
					sortable: true
				},
				{
					field : 'excellent', 
					title : '优秀',
					sortable: true
				},
				{
					field : 'fine', 
					title : '合格',
					sortable: true
				},
				{
					field : 'qualified', 
					title : '基本合格',
					sortable: true
				},
				{
					field : 'unqualified', 
					title : '不合格',
					sortable: true
				},
				{
					field : 'note', 
					title : '评分备注',
					sortable: true
				},
				{
					field : 'adddate', 
					title : '评分日期',
					sortable: true
				},
				{
					field : 'no', 
					title : '党员评分期数',
					sortable: true
				},
				{
					field : 'remark', 
					title : '是否有效',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>