<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">

<div class="container-div ui-layout-center">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="user-form">
                <input type="hidden" id="Aid" name="aid">
                <input type="hidden" id="Parentaid" name="parentaid">
                <div class="select-list">
                    <ul>
                        <li>
                            节目名称：<input type="text" name="fname"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:src="@{/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script th:inline="javascript">

    var prefix = ctx + "broad/spec";

    $(function() {
        $('body').layout({ west__size: 185 });
        queryAreaList();
    });

    function queryAreaList() {
        var options = {
            url: prefix + "/list",
            modalName: "特种节目",
            search: false,
            showExport: true,
            columns: [
                {
                    field : 'fid',
                    title : '节目ID',
                    sortable: true
                },
                {
                    field : 'fname',
                    title : '节目名称',
                    sortable: true
                },
                {
                    field : 'filename',
                    title : '保存名称',
                    sortable: true
                },
                {
                    field : 'flenth',
                    title : '时长',
                    sortable: true
                },
                {
                    field : 'fsize',
                    title : '文件大小',
                    sortable: true
                },
                {
                    field : 'uname',
                    title : '上传者',
                    sortable: true
                },
                {
                    field : 'createdtime',
                    title : '创建时间',
                    sortable: true
                },
                {
                    title: '试听',
                    align: 'center',
                    visible: true,
                    formatter: function(value, row, index) {
                        var actions = '<a class="btn btn-xs btn-success" >试听</a>';
                        return actions;
                    }
                }]
        };
        $.table.init(options);
    }

</script>
</body>
</html>