<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.BcountMapper">

    <resultMap type="BroadCount" id="BroadCountResult">
        <result property="uname" column="uname"/>
        <result property="sfid" column="sfid"/>
        <result property="count" column="count"/>
        <result property="broaddate" column="broaddate"/>
    </resultMap>

    <select id="select" resultMap="BroadCountResult">
        select
          a.sfid,
          a.createtime as broaddate,
          b.uname,
          (
            select count(c.Pid)
            from pro_list as c
            where
              c.Pid = a.sfid
          )as count
        from
          pro_sinmanage as a
        left join
          userinfo as b
        on
          a.userid = b.userid
        order by
          broaddate desc
        <where>
            <if test="uname != null  and uname != '' "> and uname = #{uname}</if>
            <if test="sfid != null  and sfid != '' "> and sfid = #{sfid}</if>
            <if test="count != null  and aname != '' "> and count = #{count}</if>
            <if test="broaddate != null  and broaddate != '' "> and broaddate = #{broaddate}</if>
        </where>
    </select>

</mapper>
