<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.BuserMapper">

    <resultMap type="Buser" id="BuserResult">
        <result property="userid" column="userid"/>
        <result property="uname" column="uname"/>
        <result property="count" column="count"/>
        <result property="lenth" column="lenth"/>
        <result property="isPublic" column="isPublic"/>
        <result property="Ptp" column="Ptp"/>
    </resultMap>

    <select id="selectProgramsByUser" resultMap="BuserResult">
        select
          a.userid,
          uname,
          count(a.userid) as count
        from
          programs as a,
          userinfo as b
        where
          a.userid = b.userid
        group by
          a.userid
        order by
        count DESC
    </select>

    <select id="selectProgramsByLenth" resultMap="BuserResult">
        select
          count(flenth) as count,
          '小于四分钟' as lenth
        from
          programs
        where
          flenth between '00:00:01' and '00:03:00'
        union
        select
          count(flenth) as count,
          '四到五分钟' as lenth
        from
          programs
        where
          flenth between '00:03:00' and '00:04:00'
        union
        select
        count(flenth) as count,
          '大于五分钟' as lenth
        from
          programs
        where
          flenth > '00:04:00'
    </select>

    <select id="selectProgramsIfPublic" resultMap="BuserResult">
        select
          count(ispublic) as count,
          2 as ispublic
        from
          programs
        union
        select
          count(ispublic) as count,
          ispublic
        from
          programs
        where ispublic = 1
        union
        select
          count(ispublic) as count,
          ispublic
        from
          programs
        where ispublic = 0
    </select>

    <select id="selectProgramsPtp" resultMap="BuserResult">
        select
          Ptp,
          count(Ptp) as count
        from
          pro_list
        group by
          Ptp
    </select>

</mapper>
