<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.LedshowMapper">
    
    <resultMap type="Ledshow" id="LedshowResult">
        <result property="lsid"    column="lsid"    />
        <result property="userid"    column="userid"    />
        <result property="content"    column="content"    />
        <result property="showtime"    column="showtime"    />
        <result property="createtime"    column="createtime"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectLedshowVo">
        select lsid, userid, content, showtime, createtime, remark from ledshow
    </sql>
	
    <select id="selectLedshowList" parameterType="Ledshow" resultMap="LedshowResult">
        <include refid="selectLedshowVo"/>
        <where>  
            <if test="lsid != null "> and lsid = #{lsid}</if>
             <if test="userid != null  and userid != '' "> and userid = #{userid}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="showtime != null  and showtime != '' "> and showtime = #{showtime}</if>
             <if test="createtime != null  and createtime != '' "> and createtime = #{createtime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectLedshowById" parameterType="Integer" resultMap="LedshowResult">
        <include refid="selectLedshowVo"/>
        where lsid = #{lsid}
    </select>
        
    <insert id="insertLedshow" parameterType="Ledshow">
        insert into ledshow
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="lsid != null  ">lsid,</if>
			<if test="userid != null  and userid != ''  ">userid,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="showtime != null  and showtime != ''  ">showtime,</if>
			<if test="createtime != null  and createtime != ''  ">createtime,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="lsid != null  ">#{lsid},</if>
			<if test="userid != null  and userid != ''  ">#{userid},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="showtime != null  and showtime != ''  ">#{showtime},</if>
			<if test="createtime != null  and createtime != ''  ">#{createtime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateLedshow" parameterType="Ledshow">
        update ledshow
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid != null  and userid != ''  ">userid = #{userid},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="showtime != null  and showtime != ''  ">showtime = #{showtime},</if>
            <if test="createtime != null  and createtime != ''  ">createtime = #{createtime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where lsid = #{lsid}
    </update>

	<delete id="deleteLedshowById" parameterType="Integer">
        delete from ledshow where lsid = #{lsid}
    </delete>
	
    <delete id="deleteLedshowByIds" parameterType="String">
        delete from ledshow where lsid in 
        <foreach item="lsid" collection="array" open="(" separator="," close=")">
            #{lsid}
        </foreach>
    </delete>
    
</mapper>