<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.OrganizationMapper">

    <resultMap type="organization" id="OrganizationResult">
        <result property="tid"    column="tid"    />
        <result property="tname"    column="tname"    />
        <result property="aid"    column="aid"    />
        <result property="userid"    column="userid"    />
        <result property="facid"    column="facid"    />
        <result property="address"    column="address"    />
        <result property="note"    column="note"    />
        <result property="phone"    column="phone"    />
        <result property="comstand"    column="comstand"    />
        <result property="broadtel"    column="broadtel"    />
        <result property="manager"    column="manager"    />
        <result property="managertel"    column="managertel"    />
        <result property="intertime"    column="intertime"    />
        <result property="createdtime"    column="createdtime"    />
        <result property="isuse"    column="isuse"    />
        <result property="rds"    column="rds"    />
        <result property="fmfrequency"    column="fmfrequency"    />
        <result property="trafficlimit"    column="trafficlimit"    />
        <result property="pic"    column="pic"    />
    </resultMap>

    <resultMap type="area" id="AreatreeResult">
        <result property="aid"    column="aid"    />
        <result property="aname"    column="aname"    />
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		terminals
	</sql>
    <sql id="areatableName">
		area
	</sql>
    <sql id="teltableName">
		terminaltels
	</sql>
    <sql id="usertable">
		userinfo
	</sql>
    <sql id="terreceivestable">
		terminal_receives
	</sql>
    <sql id="termanagetable">
		terminal_management
	</sql>
    <sql id="termanagepictable">
		terminals_pic
	</sql>
    <sql id="selectOrganizationVo">
        select
        t.tid as tid,tname,t.aid as aid,a.aname,t.userid as userid,t.uname,
        facid,address,t.note as note,comstand,broadtel,
        manager,managertel,intertime,createdtime,t.isuse as isuse,phone,
        fmfrequency,rds,trafficlimit,p.pic as pic
        from (((tb_organization t
        left join area a on t.aid = a.aid)
        left join userinfo u on t.userid = u.userid)
        left join terminals_pic p on t.tid = p.tid)
    </sql>
    
    <select id="listOrgByAid" parameterType="String" resultMap="OrganizationResult">
        <include refid="selectOrganizationVo"/>
        WHERE t.aid in
        <foreach collection="list" item="aid" separator="," open="(" close=")">
            #{aid}
        </foreach>
    </select>

    <select id="selectOrganizationList" parameterType="Organization" resultMap="OrganizationResult">
        <include refid="selectOrganizationVo"/>
        <where>
            <if test="tid != null  and tid != '' "> and t.tid = #{tid}</if>
            <if test="tname != null  and tname != '' "> and tname = #{tname}</if>
            <if test="aid != null  and aid != '' "> and t.aid = #{aid}</if>
            <if test="aname != null  and aname != '' "> and aname = #{aname}</if>
            <if test="userid != null  and userid != '' "> and t.userid = #{userid}</if>
            <if test="uname != null  and uname != '' "> and uname = #{uname}</if>
            <if test="lastaccesstime != null  and lastaccesstime != '' "> and lastaccesstime = #{lastaccesstime}</if>
            <if test="facid != null  and facid != '' "> and facid = #{facid}</if>
            <if test="address != null  and address != '' "> and address = #{address}</if>
            <if test="note != null  and note != '' "> and t.note = #{note}</if>
            <if test="comstand != null  and comstand != '' "> and comstand = #{comstand}</if>
            <if test="broadtel != null  and broadtel != '' "> and broadtel = #{broadtel}</if>
            <if test="manager != null  and manager != '' "> and manager = #{manager}</if>
            <if test="managertel != null  and managertel != '' "> and managertel = #{managertel}</if>
            <if test="intertime != null  and intertime != '' "> and intertime = #{intertime}</if>
            <if test="createdtime != null  and createdtime != '' "> and createdtime = #{createdtime}</if>
            <if test="isuse != null  and isuse != '' "> and t.isuse = #{isuse}</if>
            <if test="isuse == null  or isuse == '' "> and t.isuse = 0</if>
            <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
            <if test="fmfrequency != null  and fmfrequency != '' "> and fmfrequency = #{fmfrequency}</if>
            <if test="rds != null  and rds != '' "> and rds = #{rds}</if>
            <if test="trafficlimit != null  and trafficlimit != '' "> and trafficlimit = #{trafficlimit}</if>
            <if test="pic != null  and pic != '' "> and p.pic = #{pic}</if>
        </where>
    </select>

    <select id="selectAllOrganization" resultMap="AreatreeResult">
        select aid, aname from area
    </select>

    <select id="selectOrganizationByTid" parameterType="String" resultMap="OrganizationResult">
        <include refid="selectOrganizationVo"/>
        where t.tid = #{tid}
    </select>

    <select id="listNextAid" parameterType="String" resultType="String">
        SELECT t.aid
        FROM area as t
        WHERE t.parentaid = #{aid}
        GROUP BY aid
    </select>

    <insert id="insertOrganization" parameterType="Organization">
        insert into tb_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tid != null  and tid != ''  ">tid,</if>
            <if test="tname != null  and tname != ''  ">tname,</if>
            <if test="aid != null  and aid != ''  ">aid,</if>
            <if test="aname != null  and aname != ''  ">aname,</if>
            <if test="userid != null  and userid != ''  ">userid,</if>
            <if test="uname != null  and uname != ''  ">uname,</if>
            <if test="lastaccesstime != null  and lastaccesstime != ''  ">lastaccesstime,</if>
            <if test="facid != null  and facid != ''  ">facid,</if>
            <if test="address != null  and address != ''  ">address,</if>
            <if test="note != null  and note != ''  ">note,</if>
            <if test="comstand != null  and comstand != ''  ">comstand,</if>
            <if test="broadtel != null  and broadtel != ''  ">broadtel,</if>
            <if test="manager != null  and manager != ''  ">manager,</if>
            <if test="managertel != null  and managertel != ''  ">managertel,</if>
            <if test="intertime != null  and intertime != ''  ">intertime,</if>
            <if test="createdtime != null  and createdtime != ''  ">createdtime,</if>
            <if test="isuse != null  ">isuse,</if>
            <if test="phone != null  and phone != ''  ">phone,</if>
            <if test="rds != null  and rds != ''  ">rds,</if>
            <if test="fmfrequency != null  and fmfrequency != ''  ">fmfrequency,</if>
            <if test="trafficlimit != null  ">trafficlimit,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tid != null  and tid != ''  ">#{tid},</if>
            <if test="tname != null  and tname != ''  ">#{tname},</if>
            <if test="aid != null  and aid != ''  ">#{aid},</if>
            <if test="aname != null  and aname != ''  ">#{aname},</if>
            <if test="userid != null  and userid != ''  ">#{userid},</if>
            <if test="uname != null  and uname != ''  ">#{uname},</if>
            <if test="lastaccesstime != null  and lastaccesstime != ''  ">#{lastaccesstime},</if>
            <if test="facid != null  and facid != ''  ">#{facid},</if>
            <if test="address != null  and address != ''  ">#{address},</if>
            <if test="note != null  and note != ''  ">#{note},</if>
            <if test="comstand != null  and comstand != ''  ">#{comstand},</if>
            <if test="broadtel != null  and broadtel != ''  ">#{broadtel},</if>
            <if test="manager != null  and manager != ''  ">#{manager},</if>
            <if test="managertel != null  and managertel != ''  ">#{managertel},</if>
            <if test="intertime != null  and intertime != ''  ">#{intertime},</if>
            <if test="createdtime != null  and createdtime != ''  ">#{createdtime},</if>
            <if test="isuse != null  ">#{isuse},</if>
            <if test="phone != null  and phone != ''  ">#{phone},</if>
            <if test="rds != null  and rds != ''  ">#{rds},</if>
            <if test="fmfrequency != null  and fmfrequency != ''  ">#{fmfrequency},</if>
            <if test="trafficlimit != null  ">0,</if>
        </trim>
    </insert>

    <insert id="insertOrganizationPic" parameterType="Organization">
        insert into terminals_pic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tid != null  and tid != ''  ">tid,</if>
            <if test="pic != null  and pic != ''  ">pic,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tid != null  and tid != ''  ">#{tid},</if>
            <if test="pic != null  and pic != ''  ">#{pic},</if>
        </trim>
    </insert>

    <update id="updateOrganization" parameterType="Organization">
        update tb_organization
        <trim prefix="SET" suffixOverrides=",">
            <if test="tname != null  and tname != ''  ">tname = #{tname},</if>
            <if test="aid != null  and aid != ''  ">aid = #{aid},</if>
            <if test="aname != null  and aname != ''  ">aname = #{aname},</if>
            <if test="userid != null  and userid != ''  ">userid = #{userid},</if>
            <if test="uname != null  and uname != ''  ">uname = #{uname},</if>
            <if test="lastaccesstime != null  and lastaccesstime != ''  ">lastaccesstime = #{lastaccesstime},</if>
            <if test="facid != null  and facid != ''  ">facid = #{facid},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="note != null  and note != ''  ">note = #{note},</if>
            <if test="comstand != null  and comstand != ''  ">comstand = #{comstand},</if>
            <if test="broadtel != null  and broadtel != ''  ">broadtel = #{broadtel},</if>
            <if test="manager != null  and manager != ''  ">manager = #{manager},</if>
            <if test="managertel != null  and managertel != ''  ">managertel = #{managertel},</if>
            <if test="intertime != null  and intertime != ''  ">intertime = #{intertime},</if>
            <if test="createdtime != null  and createdtime != ''  ">createdtime = #{createdtime},</if>
            <if test="isuse != null  ">isuse = #{isuse},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="rds != null  and rds != ''  ">rds = #{rds},</if>
            <if test="fmfrequency != null  and fmfrequency != ''  ">fmfrequency = #{fmfrequency},</if>
            <if test="trafficlimit != null  ">trafficlimit = #{trafficlimit},</if>
        </trim>
        where tid = #{tid}
    </update>

    <delete id="deleteOrganizationById" parameterType="String">
        delete from tb_organization where tid = #{tid}
    </delete>

    <delete id="deleteOrganizationByIds" parameterType="String">
        delete from tb_organization where tid in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>
    <select id="selectProBroadList" parameterType="Organization" resultMap="OrganizationResult">
        select
        tid,tname,aid
        from
        <include refid="tableName"></include>
        <where>
            <if test="aid != null  and aid != '' "> aid = #{aid}</if>
        </where>
    </select>
    <update id="updateRdsByIds" >
        update  tb_organization set rds = #{number} where tid in
        <foreach item="tid" collection="ids" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </update>

    <update id="updateFmfrequencyByIds" >
        update  tb_organization set fmfrequency = #{number} where tid in
        <foreach item="tid" collection="ids" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </update>

    <update id="updateIsuseByTid" parameterType="String">
        update terminals
        <trim prefix="SET" suffixOverrides=",">
            <if test="isuse != null  ">isuse = #{isuse},</if>

        </trim>
        where tid = #{tid}
    </update>
</mapper>