<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.OrganizationMapper">
    
    <resultMap type="organization" id="OrganizationResult">
        <result property="tid"    column="tid"    />
        <result property="tname"    column="tname"    />
        <result property="aid"    column="aid"    />
        <result property="userid"    column="userid"    />
        <result property="facid"    column="facid"    />
        <result property="address"    column="address"    />
        <result property="note"    column="note"    />
        <result property="phone"    column="phone"    />
        <result property="comstand"    column="comstand"    />
        <result property="broadtel"    column="broadtel"    />
        <result property="manager"    column="manager"    />
        <result property="managertel"    column="managertel"    />
        <result property="intertime"    column="intertime"    />
        <result property="createdtime"    column="createdtime"    />
        <result property="isuse"    column="isuse"    />
        <result property="rds"    column="rds"    />
        <result property="fmfrequency"    column="fmfrequency"    />
        <result property="trafficlimit"    column="trafficlimit"    />
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		terminals
	</sql>
    <sql id="areatableName">
		area
	</sql>
    <sql id="teltableName">
		terminaltels
	</sql>
    <sql id="usertable">
		userinfo
	</sql>
    <sql id="terreceivestable">
		terminal_receives
	</sql>
    <sql id="termanagetable">
		terminal_management
	</sql>

	<sql id="selectOrganizationVo">
        select
            tid,tname,t.aid as aid,aname,t.userid as userid,uname,
            lastaccesstime,facid,address,t.note as note,comstand,broadtel,
            manager,managertel,intertime,createdtime,t.isuse as isuse,phone,
            fmfrequency,rds,trafficlimit
        from ((<include refid="tableName"></include> t
        left join <include refid="areatableName"></include> a on t.aid = a.aid)
        left join <include refid="usertable"></include> u on t.userid = u.userid)
        left join ( select MAX(createdtime) as lastaccesstime,terminalid from <include refid="terreceivestable"></include> GROUP BY terminalid) access on access.terminalid=t.tid

    </sql>
	
    <select id="selectOrganizationList" parameterType="Organization" resultMap="OrganizationResult">
        <include refid="selectOrganizationVo"/>
        <where>  
            <if test="tid != null  and tid != '' "> and tid = #{tid}</if>
             <if test="tname != null  and tname != '' "> and tname = #{tname}</if>
             <if test="aid != null  and aid != '' "> and t.aid = #{aid}</if>
             <if test="aname != null  and aname != '' "> and aname = #{aname}</if>
            <if test="userid != null  and userid != '' "> and t.userid = #{userid}</if>
            <if test="uname != null  and uname != '' "> and uname = #{uname}</if>
            <if test="lastaccesstime != null  and lastaccesstime != '' "> and lastaccesstime = #{lastaccesstime}</if>
            <if test="facid != null  and facid != '' "> and facid = #{facid}</if>
            <if test="address != null  and address != '' "> and address = #{address}</if>
            <if test="note != null  and note != '' "> and note = #{note}</if>
            <if test="comstand != null  and comstand != '' "> and comstand = #{comstand}</if>
            <if test="broadtel != null  and broadtel != '' "> and broadtel = #{broadtel}</if>
            <if test="manager != null  and manager != '' "> and manager = #{manager}</if>
            <if test="managertel != null  and managertel != '' "> and managertel = #{managertel}</if>
            <if test="intertime != null  and intertime != '' "> and intertime = #{intertime}</if>
            <if test="createdtime != null  and createdtime != '' "> and createdtime = #{createdtime}</if>
            <if test="isuse != null  and isuse != '' "> and isuse = #{isuse}</if>
            <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
            <if test="fmfrequency != null  and fmfrequency != '' "> and fmfrequency = #{fmfrequency}</if>
            <if test="rds != null  and rds != '' "> and rds = #{rds}</if>
            <if test="trafficlimit != null  and trafficlimit != '' "> and trafficlimit = #{trafficlimit}</if>
         </where>
    </select>
    
    <select id="selectOrganizationById" parameterType="String" resultMap="OrganizationResult">
        <include refid="selectOrganizationVo"/>
        where t.aid = #{aid}
    </select>
        
    <insert id="insertOrganization" parameterType="Organization">
        insert into area
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="aid != null  and aid != ''  ">aid,</if>
			<if test="parentaid != null  and parentaid != ''  ">parentaid,</if>
			<if test="aname != null  and aname != ''  ">aname,</if>
			<if test="note != null  and note != ''  ">note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="aid != null  and aid != ''  ">#{aid},</if>
			<if test="parentaid != null  and parentaid != ''  ">#{parentaid},</if>
			<if test="aname != null  and aname != ''  ">#{aname},</if>
			<if test="note != null  and note != ''  ">#{note},</if>
         </trim>
    </insert>
	 
    <update id="updateOrganization" parameterType="Organization">
        update area
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentaid != null  and parentaid != ''  ">parentaid = #{parentaid},</if>
            <if test="aname != null  and aname != ''  ">aname = #{aname},</if>
            <if test="note != null  and note != ''  ">note = #{note},</if>
        </trim>
        where aid = #{aid}
    </update>

	<delete id="deleteOrganizationById" parameterType="String">
        delete from area where aid = #{aid}
    </delete>
	
    <delete id="deleteOrganizationByIds" parameterType="String">
        delete from area where aid in
        <foreach item="aid" collection="array" open="(" separator="," close=")">
            #{aid}
        </foreach>
    </delete>
    <!--通过单一IMEI获取机构 -->
  <!--  <select id="getOrgnzByOid" parameterType="String" resultType="Organization">
        select
        t.tid as tid,
        tname,
        t.aid as aid,aname,
        t.uid as uid,uname,
        facid,
        t.address as address,
        t.note as note,
        phone,
        comstand,
        broadtel,
        manager,
        managertel,
        intertime,
        createdtime,
        t.isuse as isuse,
        rds,
        fmfrequency,
        trafficlimit,
        supervisionunit,
        accountabilityunit,
        latitude,
        longitude,
        families,
        population,
        twooverlaymode,
        twotransmitfrequency,
        twooverlaynumber,
        twooverlayfamiles,
        twooverlaypopulations,
        powerconsumption,
        othertechnology,
        drillingperiod,
        standbybattery,
        playbacksmode,
        maintenancefunds,
        backupbatteryvoltage
        from	((<include refid="tableName"></include> t left join <include refid="termanagetable"></include> tm on t.tid =tm.tid)
        left join <include refid="areatableName"></include> a on t.aid = a.aid)
        left join <include refid="usertable"></include> u on t.uid = u.uid
        where t.tid = #{tid}
    </select>-->
    <!--根据tidsList去多查询终端信息-->
   <!-- <select id="getTerInfoBytids" parameterType="HashMap" resultType="HashMap">
        select
        t.tid as tid,
        tname,
        t.aid as aid,aname,
        t.uid as uid,uname,
        t.isuse as isuse
        from	(<include refid="tableName"></include> t
        left join <include refid="areatableName"></include> a on t.aid = a.aid)
        left join <include refid="usertable"></include> u on t.uid = u.uid
        <where>
            <if test="terlist!=null and terlist!='' and terlist.size>0">
                t.tid in
                <foreach collection="terlist" index="index" item="item" open="(" separator="," close=")">
                    ${item}
                </foreach>
            </if>
        </where>
    </select>-->
    <!--根据分组编号列表查询终端列表-->
    <!--<select id="listTersByAids" parameterType="HashMap" resultType="Organization">
        select
        tid,tname,t.aid as aid,aname,t.userid as userid,uname,facid,address,t.note as note,comstand,broadtel,manager,managertel,intertime,createdtime,t.isuse as isuse,phone,fmfrequency,rds,trafficlimit
        from
        (<include refid="tableName"></include> t
        left join <include refid="areatableName"></include> a on t.aid = a.aid)
        left join <include refid="usertable"></include> u on t.userid = u.userid
        <where>
            <choose>
                <when test="aid !=null and aid!=''" >
                    and t.aid like  CONCAT(#{aid},'%')
                </when>
                <otherwise>and t.aid is null</otherwise>
            </choose>
        </where>
    </select>-->
</mapper>