<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.SendmessagesMapper">

    <resultMap type="Sendmessages" id="SendmessagesResult">
        <result property="smid"    column="smid"    />
        <result property="smobile"    column="smobile"    />
        <result property="scontent"    column="scontent"    />
        <result property="issend"    column="issend"    />
        <result property="sendtime"    column="sendtime"    />
        <result property="remark"    column="remark"    />
        <result property="tid"    column="tid"    />
        <result property="spelanguage"    column="spelanguage"    />
        <result property="sendtimes"    column="sendtimes"    />
    </resultMap>

	<sql id="selectSendmessagesVo">
        select smid, smobile, scontent, issend, sendtime, remark, tid, spelanguage, sendtimes from sendmessages
    </sql>

    <select id="selectSendmessagesList" parameterType="Sendmessages" resultMap="SendmessagesResult">
        <include refid="selectSendmessagesVo"/>
        <where>
            <if test="smid != null "> and smid = #{smid}</if>
             <if test="smobile != null  and smobile != '' "> and smobile = #{smobile}</if>
             <if test="scontent != null  and scontent != '' "> and scontent = #{scontent}</if>
             <if test="issend != null "> and issend = #{issend}</if>
             <if test="sendtime != null  and sendtime != '' "> and sendtime = #{sendtime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="tid != null  and tid != '' "> and tid = #{tid}</if>
             <if test="spelanguage != null  and spelanguage != '' "> and spelanguage = #{spelanguage}</if>
             <if test="sendtimes != null "> and sendtimes = #{sendtimes}</if>
         </where>
    </select>

    <select id="selectSendmessagesById" parameterType="Integer" resultMap="SendmessagesResult">
        <include refid="selectSendmessagesVo"/>
        where smid = #{smid}
    </select>

    <insert id="insertSendmessages" parameterType="Sendmessages">
        insert into sendmessages
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="smid != null  ">smid,</if>
			<if test="smobile != null  and smobile != ''  ">smobile,</if>
			<if test="scontent != null  and scontent != ''  ">scontent,</if>
			<if test="issend != null  ">issend,</if>
			<if test="sendtime != null  and sendtime != ''  ">sendtime,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="tid != null  and tid != ''  ">tid,</if>
			<if test="spelanguage != null  and spelanguage != ''  ">spelanguage,</if>
			<if test="sendtimes != null  ">sendtimes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="smid != null  ">#{smid},</if>
			<if test="smobile != null  and smobile != ''  ">#{smobile},</if>
			<if test="scontent != null  and scontent != ''  ">#{scontent},</if>
			<if test="issend != null  ">#{issend},</if>
			<if test="sendtime != null  and sendtime != ''  ">#{sendtime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="tid != null  and tid != ''  ">#{tid},</if>
			<if test="spelanguage != null  and spelanguage != ''  ">#{spelanguage},</if>
			<if test="sendtimes != null  ">#{sendtimes},</if>
         </trim>
    </insert>

    <update id="updateSendmessages" parameterType="Sendmessages">
        update sendmessages
        <trim prefix="SET" suffixOverrides=",">
            <if test="smobile != null  and smobile != ''  ">smobile = #{smobile},</if>
            <if test="scontent != null  and scontent != ''  ">scontent = #{scontent},</if>
            <if test="issend != null  ">issend = #{issend},</if>
            <if test="sendtime != null  and sendtime != ''  ">sendtime = #{sendtime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="tid != null  and tid != ''  ">tid = #{tid},</if>
            <if test="spelanguage != null  and spelanguage != ''  ">spelanguage = #{spelanguage},</if>
            <if test="sendtimes != null  ">sendtimes = #{sendtimes},</if>
        </trim>
        where smid = #{smid}
    </update>

	<delete id="deleteSendmessagesById" parameterType="Integer">
        delete from sendmessages where smid = #{smid}
    </delete>

    <delete id="deleteSendmessagesByIds" parameterType="String">
        delete from sendmessages where smid in
        <foreach item="smid" collection="array" open="(" separator="," close=")">
            #{smid}
        </foreach>
    </delete>

</mapper>