<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.TermapMapper">
    <resultMap type="Map" id="MapResult">
        <result property="tname"         column="tname"        />
        <result property="tid"       column="tid"      />
        <result property="address"     column="address"    />
        <result property="uname"       column="uname"      />
        <result property="aname"       column="aname"      />
        <result property="phone"            column="phone"            />
        <result property="basestation"       column="basestation"      />
        <result property="latitude"        column="latitude"        />
        <result property="longitude"          column="longitude"          />
        <result property="receivetime"           column="receivetime"           />
        <result property="createdtime"       column="createdtime"      />
        <result property="manageruserid"     column="manageruserid"    />
        <result property="managername"     column="managername"    />
        <result property="isuse"     column="isuse"    />
    </resultMap>

    <sql id="tableName">
		terminal_management
	</sql>
    <sql id="terminalreceivesTable">
		terminal_receives
	</sql>
    <sql id="terconditiontable">
		ter_conditions
	</sql>
    <sql id="managertertable">
		termanager_ter
	</sql>
    <sql id="terminaltableName">
		terminals
	</sql>
    <sql id="areatable">
		user.area
	</sql>
    <sql id="usertable">
		userinfo
	</sql>
    <sql id="userinfotable">
		userinfo
	</sql>
    <sql id="clienttable">
		shuofang.client
	</sql>
    <!-- 查找列表 -->
    <!--<select id="getAllMapInfo" parameterType="String" resultMap="MapResult">
        SELECT DISTINCT tname,m.tid as tid,t.address as address,ui.uname as uname,a.aname,phone,basestation,latitude,longitude,manageruserid,managername,t.isuse as isuse
        from (((((<include refid="tableName"/> m  JOIN <include refid="terminaltableName"/> t on m.tid=t.tid)
        LEFT JOIN <include refid="areatable"/> a on t.aid= a.aid)
        LEFT JOIN <include refid="usertable"/> ui on t.userid = ui.userid)
        LEFT JOIN <include refid="terconditiontable"/> tc on m.tid=tc.tid))
        left join (SELECT GROUP_CONCAT(tmt.userid) as manageruserid,GROUP_CONCAT(uname) as managername,tid from
        <include refid="managertertable"/> tmt LEFT JOIN <include refid="userinfotable"/> ui on tmt.userid=ui.userid  GROUP BY tid ) manager on m.tid=manager.tid
        where latitude != 0.000000 and uname != '石城'
        <if test="_parameter  != null  and _parameter  != ''  ">
         and t.aid = #{_parameter}
        </if>
        limit 500
    </select>-->
    <select id="getAllMapInfo" parameterType="String" resultMap="MapResult">
        SELECT DISTINCT tname,m.tid as tid,t.address as address,ui.uname as uname,a.aname,phone,basestation,latitude,longitude,manageruserid,managername,t.isuse as isuse
        from (((((<include refid="tableName"/> m  JOIN <include refid="terminaltableName"/> t on m.tid=t.tid)
        LEFT JOIN <include refid="areatable"/> a on t.aid= a.aid)
        LEFT JOIN <include refid="usertable"/> ui on t.userid = ui.userid)
        LEFT JOIN <include refid="terconditiontable"/> tc on m.tid=tc.tid))
        left join (SELECT GROUP_CONCAT(tmt.userid) as manageruserid,GROUP_CONCAT(uname) as managername,tid from
        <include refid="managertertable"/> tmt LEFT JOIN <include refid="userinfotable"/> ui on tmt.userid=ui.userid  GROUP BY tid ) manager on m.tid=manager.tid
        where latitude != 0.000000
        <if test="_parameter  != null  and _parameter  != ''  ">
            and t.aid = #{_parameter}
        </if>
        limit 500
    </select>


    <select id="getAllMapInfoForIot" parameterType="String" resultMap="MapResult">
        SELECT DISTINCT c.IMEI as tid,latitude,longitude,c.finallogindate as receivetime,t.isuse as isuse,a.aname as aname,ui.uname as uname,t.address as address,phone
        from ((((<include refid="clienttable"/> c  JOIN <include refid="tableName"/> m on m.tid=c.IMEI)
        LEFT JOIN <include refid="terminaltableName"/> t on t.tid= c.IMEI)
        LEFT JOIN <include refid="areatable"/> a on t.aid= a.aid)
        LEFT JOIN <include refid="usertable"/> ui on t.userid = ui.userid)
    </select>
</mapper>