<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.TextmessagesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="TypeNumMap" type="com.ruoyi.broad.domain.typenum">
        <result column="textnum" property="textnum"/>
        <result column="num" property="num"/>
        <result column="telnumber" property="telnumber"/>
    </resultMap>
	
    <select id="selectTypeNum" resultMap="TypeNumMap">
          select telperson as textnum ,count(*) as num ,tel as telnumber from terminaltels group by telperson
    </select>
</mapper>