<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.broad.mapper.TrafficMapper">

    <resultMap type="Traffic" id="TrafficResult">
        <result property="ttid"    column="ttid"    />
        <result property="tid"    column="tid"    />
        <result property="usetraffic"    column="usetraffic"    />
        <result property="trafficlimit"    column="trafficlimit"    />
        <result property="lasttime"    column="lasttime"    />
        <result property="remark"    column="remark"    />
    </resultMap>


    <!--<sql id="selectTrafficVo">
            select ttid, t.tid as tid, usetraffic,a.trafficlimit as trafficlimit, lasttime, remark from (terminal_traffic t left join terminals a on t.tid = a.tid)
        </sql>-->
    <sql id="selectTrafficVo">
        select
        ttid,
        tt.tid as tid,
        usetraffic,
        tt.lasttime as lasttime,
        remark,
        tname,
        trafficlimit,
        t.aid as aid,
        aname,
        ui.userid as userid,
        t.isuse as isuse,
        uname
        from
        ((terminal_traffic tt  JOIN terminals t on tt.tid=t.tid)
        left join area a on t.aid = a.aid)
        left join userinfo ui on ui.userid = t.userid
    </sql>

    <select id="selectTrafficList" parameterType="Traffic" resultMap="TrafficResult">
        <include refid="selectTrafficVo"/>
        <where>
            <if test="ttid != null "> and ttid like '%${ttid}%'</if>
            <if test="tid != null  and tid != '' "> and t.tid like '%${tid}%'</if>
            <if test="usetraffic != null "> and usetraffic like '%${usetraffic}%'</if>
            <if test="trafficlimit != null  and trafficlimit != '' "> and a.trafficlimit like '%${trafficlimit}%'</if>
            <if test="tname != null  and tname != '' "> and tname like '%${tname}%'</if>
            <if test="aname != null  and aname != '' "> and aname like '%${aname}%'</if>
        </where>
        ORDER BY lasttime DESC
    </select>

    <select id="selectTrafficById" parameterType="Integer" resultMap="TrafficResult">
        <include refid="selectTrafficVo"/>
        where ttid = #{ttid}
    </select>

    <insert id="insertTraffic" parameterType="Traffic">
        insert into terminal_traffic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ttid != null  ">ttid,</if>
            <if test="tid != null  and tid != ''  ">tid,</if>
            <if test="usetraffic != null  ">usetraffic,</if>
            <if test="lasttime != null  and lasttime != ''  ">lasttime,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ttid != null  ">#{ttid},</if>
            <if test="tid != null  and tid != ''  ">#{tid},</if>
            <if test="usetraffic != null  ">#{usetraffic},</if>
            <if test="lasttime != null  and lasttime != ''  ">#{lasttime},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTraffic" parameterType="Traffic">
        update terminal_traffic
        <trim prefix="SET" suffixOverrides=",">
            <if test="tid != null  and tid != ''  ">tid = #{tid},</if>
            <if test="usetraffic != null  ">usetraffic = #{usetraffic},</if>
            <if test="lasttime != null  and lasttime != ''  ">lasttime = #{lasttime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where ttid = #{ttid}
    </update>

    <update id="updateTrafficSet" parameterType="Traffic">
        update terminals
        <trim prefix="SET" suffixOverrides=",">
            <if test="trafficlimit != null  and trafficlimit != ''  ">trafficlimit = #{trafficlimit},</if>
        </trim>
        where tid = #{tid}
    </update>

    <delete id="deleteTrafficById" parameterType="Integer">
        delete from terminal_traffic where ttid = #{ttid}
    </delete>

    <delete id="deleteTrafficByIds" parameterType="String">
        delete from terminal_traffic where ttid in
        <foreach item="ttid" collection="array" open="(" separator="," close=")">
            #{ttid}
        </foreach>
    </delete>

    <update id="updateRdsByIds" >
        update  terminals set trafficlimit = #{number} where tid in
        <foreach item="tid" collection="ids" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </update>

    <update id="updateFmfrequencyByIds" >
        update  terminals set isuse = 1 where tid in
        <foreach item="tid" collection="ids" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </update>
</mapper>