<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								标题：<input type="text" name="title"/>
							</li>

							<li>
								内容：<input type="text" name="content"/>
							</li>

							<!--<li>-->
								<!--接收人编号：<input type="text" name="userid"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--所属分组（区域）：<input type="text" name="aid"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--发送时间：<input type="text" name="sendtime"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--是否已读：<input type="text" name="isread"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--发送用户编号：<input type="text" name="senduserid"/>-->
							<!--</li>-->

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="broad:high:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="broad:high:edit">-->
					<!--<i class="fa fa-edit"></i> 修改-->
				<!--</a>-->
				<!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="broad:high:remove">-->
					<!--<i class="fa fa-remove"></i> 删除-->
				<!--</a>-->
				<!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="broad:high:export">-->
						<!--<i class="fa fa-download"></i> 导出-->
				 <!--</a>-->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true" style="table-layout: fixed;word-break: break-all"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('broad:high:edit')}]];
        var removeFlag = [[${@permission.hasPermi('broad:high:remove')}]];
        var prefix = ctx + "broad/high";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "上级公告",
				search: false,
		        showExport: true,

                columns: [
//                    {
//		            checkbox: true
//		        },
//				{
//					field : 'mhid',
//					title : '上级公告编号',
//					visible: false
//				},
				{
					field : 'title', 
					title : '标题',
					sortable: true
				},
				{
					field : 'content', 
					title : '内容',
					sortable: true,
					width: '50%'
				},
				{
					field : 'sendtime',
					title : '发送时间',
					sortable: true
				},
				{
					field : 'userid', 
					title : '接收人编号',
					sortable: true,
					width: '20%'
				},
//				{
//					field : 'aid',
//					title : '所属分组（区域）',
//					sortable: true
//				},

				{
					field : 'isread', 
					title : '是否已读',
					sortable: true
				},
//				{
//					field : 'senduserid',
//					title : '发送用户编号',
//					sortable: true
//				},
//		        {
//		            title: '操作',
//		            align: 'center',
//		            formatter: function(value, row, index) {
//		            	var actions = [];
//		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.mhid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
//                      actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.mhid + '\')"><i class="fa fa-remove"></i>删除</a>');
//						return actions.join('');
//		            }
//		        }
		        ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>