<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <a id="appon" class="btn btn-white btn-sm" onclick="setPro('app-on');"  style="border: none;" >
            <i id="nav-search-icon" class="ace-icon fa fa-play bigger-110 green"></i>&nbsp;开启功放</a>
        <a id="appon" class="btn btn-white btn-sm" onclick="setPro('app-on');"  style="border: none;" >
            <i id="nav-search-icon" class="ace-icon fa fa-play bigger-110 green"></i>&nbsp;开启功放</a>
        <a id="appon" class="btn btn-white btn-sm" onclick="setPro('app-on');"  style="border: none;" >
            <i id="nav-search-icon" class="ace-icon fa fa-play bigger-110 green"></i>&nbsp;开启功放</a>
        <a id="appon" class="btn btn-white btn-sm" onclick="setPro('app-on');"  style="border: none;" >
            <i id="nav-search-icon" class="ace-icon fa fa-play bigger-110 green"></i>&nbsp;开启功放</a>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

</script>
</body>
</html>