<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header">

<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>

<style>
    .parent {width:100%;height:100%;border:2px solid #000;display:table-cell;vertical-align:middle;text-align: center;}
    .child {width:100%;height:100%;display:inline-block;}
</style>
</head>
<body class="gray-bg">
<div class="container-div parent">
    <div style="" class="child">
            <label style="margin-left: 35%">播出时间：</label>
                <input class="laydate-icon form-control layer-date"
                       name="broad"
                       id="broad"
                       th:value="${oddtime}"
                       readonly="readonly"
                       style="height:50px;width:140px;margin-left: 35%"
                       placeholder="播出时间"
                       title="播出时间"/>
        <div style="margin-top: 10%">
            <label style="color: #ffad10;size: 20em">时间插件显示不了请更换为IE内核浏览器</label>
        </div>
    </div>
</div>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.tips.js}"></script>
<script th:src="@{/js/views/addpglist/addpglist.js}"></script>
<script th:src="@{/js/plugins/layer/layui-v2.4.5/layui/layui.js}"></script>
<!--时间插件-->
<script>
    function callback(){
        return $("#broad").val();
    }
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem:"#broad",
            type: 'time',
        });
    });
</script>
<div th:include="include :: footer"></div>
</body>
</html>