<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								地域编号：<input type="text" name="aid"/>
							</li>

							<li>
								村民姓名：<input type="text" name="vname"/>
							</li>

							<li>
								年龄：<input type="text" name="age"/>
							</li>

							<li>
								性别：<input type="text" name="sex"/>
							</li>

							<li>
								籍贯：<input type="text" name="nativeplace"/>
							</li>

							<li>
								民族：<input type="text" name="nation"/>
							</li>

							<li>
								政治面貌：<input type="text" name="politics"/>
							</li>

							<li>
								入党年月：<input type="text" name="partyjoindate"/>
							</li>

							<li>
								文化程度：<input type="text" name="edulevel"/>
							</li>

							<li>
								婚姻状况：<input type="text" name="marital"/>
							</li>

							<li>
								身份证号码：<input type="text" name="idcard"/>
							</li>

							<li>
								联系方式：<input type="text" name="phone"/>
							</li>

							<li>
								健康状况：<input type="text" name="health"/>
							</li>

							<li>
								特种（残疾）信息：<input type="text" name="special"/>
							</li>

							<li>
								优抚信息：<input type="text" name="entitle"/>
							</li>

							<li>
								计生情况：<input type="text" name="familyplan"/>
							</li>

							<li>
								医疗情况：<input type="text" name="medical"/>
							</li>

							<li>
								补助情况：<input type="text" name="subsidy"/>
							</li>

							<li>
								保险情况：<input type="text" name="insurance"/>
							</li>

							<li>
								犯罪史：<input type="text" name="criminal"/>
							</li>

							<li>
								吸毒史：<input type="text" name="drug"/>
							</li>

							<li>
								驾照：<input type="text" name="drive"/>
							</li>

							<li>
								车辆：<input type="text" name="car"/>
							</li>

							<li>
								车辆类型：<input type="text" name="vtype"/>
							</li>

							<li>
								车牌号：<input type="text" name="carnum"/>
							</li>

							<li>
								职业：<input type="text" name="job"/>
							</li>

							<li>
								工作单位：<input type="text" name="company"/>
							</li>

							<li>
								户籍地址：<input type="text" name="pra"/>
							</li>

							<li>
								现居地址：<input type="text" name="home"/>
							</li>

							<li>
								所属村组：<input type="text" name="grouptype"/>
							</li>

							<li>
								住房性质：<input type="text" name="house"/>
							</li>

							<li>
								户口性质：<input type="text" name="prt"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="village:villagerInfo:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="village:villagerInfo:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="village:villagerInfo:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="village:villagerInfo:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('village:villagerInfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('village:villagerInfo:remove')}]];
        var prefix = ctx + "village/villagerInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "村民",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'vid', 
					title : '数据编号',
					visible: false
				},
				{
					field : 'aid', 
					title : '地域编号',
					sortable: true
				},
				{
					field : 'vname',
					title : '村民姓名',
					sortable: true
				},
				{
					field : 'age', 
					title : '年龄',
					sortable: true
				},
				{
					field : 'sex', 
					title : '性别',
					sortable: true
				},
				{
					field : 'nativeplace',
					title : '籍贯',
					sortable: true
				},
				{
					field : 'nation', 
					title : '民族',
					sortable: true
				},
				{
					field : 'politics', 
					title : '政治面貌',
					sortable: true
				},
				{
					field : 'partyjoindate', 
					title : '入党年月',
					sortable: true
				},
				{
					field : 'edulevel', 
					title : '文化程度',
					sortable: true
				},
				{
					field : 'marital', 
					title : '婚姻状况',
					sortable: true
				},
				{
					field : 'idcard', 
					title : '身份证号码',
					sortable: true
				},
				{
					field : 'phone', 
					title : '联系方式',
					sortable: true
				},
				{
					field : 'health', 
					title : '健康状况',
					sortable: true
				},
				{
					field : 'special', 
					title : '特种（残疾）信息',
					sortable: true
				},
				{
					field : 'entitle', 
					title : '优抚信息',
					sortable: true
				},
				{
					field : 'familyplan', 
					title : '计生情况',
					sortable: true
				},
				{
					field : 'medical', 
					title : '医疗情况',
					sortable: true
				},
				{
					field : 'subsidy', 
					title : '补助情况',
					sortable: true
				},
				{
					field : 'insurance', 
					title : '保险情况',
					sortable: true
				},
				{
					field : 'criminal', 
					title : '犯罪史',
					sortable: true
				},
				{
					field : 'drug', 
					title : '吸毒史',
					sortable: true
				},
				{
					field : 'drive', 
					title : '驾照',
					sortable: true
				},
				{
					field : 'car', 
					title : '车辆',
					sortable: true
				},
				{
					field : 'vtype', 
					title : '车辆类型',
					sortable: true
				},
				{
					field : 'carnum', 
					title : '车牌号',
					sortable: true
				},
				{
					field : 'job',
					title : '职业',
					sortable: true
				},
				{
					field : 'company', 
					title : '工作单位',
					sortable: true
				},
				{
					field : 'pra', 
					title : '户籍地址',
					sortable: true
				},
				{
					field : 'home', 
					title : '现居地址',
					sortable: true
				},
				{
					field : 'grouptype', 
					title : '所属村组',
					sortable: true
				},
				{
					field : 'house', 
					title : '住房性质',
					sortable: true
				},
				{
					field : 'prt', 
					title : '户口性质',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.vid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.vid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>