<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<link rel="shortcut icon" href="/js/unity/TemplateData/favicon.ico" />
<link rel="stylesheet" href="/js/unity/TemplateData/style.css" />
<script src="/js/unity/TemplateData/UnityProgress.js"></script>
<script src="/js/unity/Build/UnityLoader.js"></script>

<body class="gray-bg">
<div class="webgl-content">
    <div id="unityContainer" style="width: 1400px; height: 700px"></div>
    <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">RiverVis3Dview</div>
    </div>
</div>

<script type="text/javascript">
    var unityInstance = UnityLoader.instantiate("unityContainer", "http://localhost/js/unity/Build/unity.json", {onProgress: UnityProgress});
</script>
</body>
</html>